<h2><%= t ".heading_new_target" %></h2>

<%= labelled_form_for @goal,
  url: project_targets_path(@project, @view_params),
  remote: true,
  html: {id: 'new-target-form', name: 'new-target-form'} do |goal_f| %>

  <%= render partial: 'targets/form', locals: {goal_f: goal_f} %>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_create) %>
      <%= link_to l(:button_cancel), "#",
        onclick: "$('#new-target').empty(); return false;" %>
    </p>
  </div>
<% end %>
<hr>
