<h2><%= t ".heading_new_target" %></h2>

<%#  url: project_targets_path(@project, @view_params), %>
<%= labelled_form_for @goal, url: goal_targets_path(@goal), method: :post, remote: true,
  html: {id: 'new-target-form', name: 'new-target-form'} do |goal_f| %>

  <div class="box tabular">
    <%= render partial: 'targets/form', locals: {goal_f: goal_f} %>
  </div>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_create) %>
      <%= link_to l(:button_cancel), "#",
        onclick: "$('#new-target').empty(); return false;" %>
    </p>
  </div>
<% end %>
<hr>
