<fieldset id="filters" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div>
    <%= error_messages_for @formula_q %>

    <%= form_tag url, id: 'filters_form', method: :get, remote: true do %>
    <table class="filter">
      <tr>
        <td>
          <%= text_field_tag 'filters[name]', session[:filters][:name], placeholder: 'name',
            :onblur => '$("#filters_form").submit(); return false;' %>
        </td>
        <td>
          <%= select_tag 'filters[visibility]',
            visibility_options(session[:filters][:visibility]),
            :onchange => '$("#filters_form").submit(); return false;' %>
        </td>
        <td style="width:100%;">
          <%= text_field_tag 'filters[nutrients]', session[:filters][:nutrients],
            placeholder: 'conditional expression including nutrients', size: 40,
            :style => 'box-sizing:border-box; width:100%;',
            :onblur => '$("#filters_form").submit(); return false;' %>
        </td>
        <td>
          <%= link_to l(:button_apply), '#', :class => "icon icon-checked",
            :onclick => '$("#filters_form").submit(); return false;' %>
        </td>
        <td>
          <%= link_to l(:button_clear), '#', :class => "icon icon-reload",
            :onclick => '$("#filters_form input, #filters_form select").val("");
                         $("#filters_form").submit(); return false;' %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
</fieldset>
