<% content_for :sidebar do %>
  <%= render partial: 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <%= link_to t(".heading_nutrient_view"), nutrients_project_ingredients_path(@project),
    class: 'icon icon-stats' %>
  <%= render partial: 'ingredients/contextual' %>
</div>

<%= render partial: 'ingredients/import' %>

<%= render partial: 'ingredients/form' %>

<h2><%= t ".heading" %></h2>
<div id='ingredients'>
  <%= render partial: 'ingredients/list' %>
</div>
