<% content_for :sidebar do %>
  <%= render :partial => 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <%= link_to t(".heading_ingredient_list"), project_ingredients_path(@project),
    :class => 'icon icon-list' %>
  <%= render :partial => 'ingredients/contextual' %>
</div>

<%= render :partial => 'ingredients/import' %>

<%= render :partial => 'ingredients/form' %>

<h2><%= t ".heading" %></h2>
<% if @primary_nutrients.any? %>
  <table class="nutrients list odd-even">
    <thead>
      <tr>
        <th style="width:30%"><%= l(:field_name) %></th>
        <% @primary_quantities.each do |q| %>
          <th style="width:8%"><%= q.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @primary_nutrients.each do |i, values| %>

        <% row_class = "ingredient#{' hidden' if i.hidden} #{cycle('odd', 'even')}" %>
        <tr id="ingredient-<%= i.id %>" class="primary <%= row_class %>">
          <td class="name">
            <%= link_to '', '#', {
                  onclick: "$(this).closest('tr').toggle(); $(this).closest('tr').nextUntil('tr.primary', 'tr').toggle(); return false;",
                  class: "icon icon-bullet-closed"
                } %>
            <%= i.name %>
          </td>
          <% @primary_quantities.each do |q| %>
            <td class="primary value">
              <%= values[q.id] || '-' %>
            </td>
          <% end %>
        </tr>

        <tr class="<%= row_class %>" style="display:none">
          <td class="name" rowspan="2">
            <%= link_to '', '#', {
                  onclick: "$(this).closest('tr').prev('tr.primary').toggle(); $(this).closest('tr').prev('tr.primary').nextUntil('tr.primary', 'tr').toggle(); return false;",
                  class: "icon icon-bullet-open"
                } %>
            <%= i.name %>
          </td>
          <% @primary_quantities.each do |q| %>
            <td class="primary quantity">
              <%= q.name %>
            </td>
          <% end %>
        </tr>
        <tr class="<%= row_class %>" style="display:none">
          <% @primary_quantities.each do |q| %>
            <td class="primary value">
              <%= values[q.id] || '-' %>
            </td>
          <% end %>
        </tr>

        <% extras = @extra_nutrients[i].keys %>
        <% extras.each_slice(@primary_quantities.length).with_index do |names, index| %>
          <tr class="extra <%= row_class %>" style="display:none">
            <% if index == 0 %>
              <td rowspan="<%= 2*(extras.length.to_d / @primary_quantities.length).ceil %>"
                  class="space">
              </td>
            <% end %>
            <% names.each do |name| %>
              <td class="extra quantity">
                <%= name %>
              </td>
            <% end %>
            <% if @primary_quantities.length > names.length %>
              <td rowspan="2" colspan="<%= @primary_quantities.length-names.length %>"></td>
            <% end %>
          </tr>
          <tr class="extra <%= row_class %>" style="display:none">
            <% names.each do |name| %>
              <td class="extra value">
                <%= @extra_nutrients[i][name] %>
              </td>
            <% end %>
          </tr>
        <% end %>

      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
