<% content_for :sidebar do %>
  <%#= render :partial => 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <%= link_to t(".heading_ingredient_list"), project_ingredients_path(@project),
    :class => 'icon icon-list' %>
</div>

<h2><%= t ".heading" %></h2>
<% if @nutrients.any? %>
  <table class="nutrients list">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <% @header.each do |q| %>
          <th><%= q.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @nutrients.each do |name, values| %>
        <tr class="ingredient">
          <td class="name"><%= name %></td>
          <% @header.each do |q| %>
            <td class="value"><%= values[q.id] || '-' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
