<div class="contextual">
  <%= link_to t(".heading_ingredient_list"), project_ingredients_path(@project),
    class: 'icon icon-list' %>
  <%= render partial: 'ingredients/contextual' %>
</div>

<%= render partial: 'ingredients/import' %>

<%= render partial: 'ingredients/form' %>

<h2><%= t ".heading" %></h2>
<div id='nutrients'>
  <%= render partial: 'ingredients/nutrients' %>
</div>
