<%= render partial: 'measurements/filters',
  locals: {url: filter_project_measurements_path(@project, @view_params)} %>

<% if @measurements.any? %>
  <%= render partial: 'readouts/options' %>

  <% formulas = @quantities.collect(&:formula) %>
  <% formulas.unshift(@filter_q.formula) if @filter_q %>
  <%= error_messages_for *formulas %>

  <table id="readouts" class="list odd-even">
    <%= quantities_table_header @quantities, :field_taken_at_date do |quantity_id|
      measurement_routine_toggle_exposure_path(@routine, quantity_id: quantity_id)
    end %>

    <tbody>
      <% extra_quantities = @measurements.values.first.keys - @quantities %>
      <% @measurements.each do |measurement, readouts| %>
        <tr id="measurement-<%= measurement.id %>"
            class="measurement <%= cycle('odd', 'even') %>">
          <td class="topleft unwrappable">
            <%= link_to format_datetime(measurement.taken_at), '',
              {class: 'icon icon-arrow-right',
               onclick: "$(this).closest('tr').nextUntil('tr.measurement', '.details')
                           .show(); return false;"} %>
          </td>
          <% @quantities.each do |q| %>
            <td class="right ellipsible"><%= format_amount(readouts[q]) %></td>
          <% end %>
          <td class="right shrunk unwrappable"><%= action_links(measurement) %></td>
        </tr>

        <tr class="details <%= current_cycle %>" style="display:none">
          <td class="topleft">
            <%= link_to l(:button_close), "#", {class: 'icon icon-close',
                  onclick: '$(this).closest("tr")
                              .nextUntil("tr.measurement", ":not(.details)")
                              .show().addBack().first().hide(); return false;'} %>
          </td>
          <% content = readouts.keys.inject('') do |output, q| %>
            <% raw "#{output}#{readout_markup(q, readouts[q])}\n" %>
          <% end %>
          <td class="topleft" colspan="<%= @quantities.length + 1 %>"
              style="white-space:pre-line;"><%= content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
