<% if @meals_by_date.any? %>
  <%= render partial: 'meals/options' %>

  <% formulas = @quantities.map { |q| q.formula } %>
  <% formulas.unshift(@filter_q.formula) if @filter_q %>
  <%= error_messages_for *formulas %>

  <table id="meals" class="list odd-even">
    <tbody>
      <% total_width = 4 + @quantities.length %>
      <% header = table_header_spec(@quantities) %>
      <% @meals_by_date.reverse_each do |date, meals| %>
        <% header.each_with_index do |row, i| %>
          <tr class="header">
            <% if i == 0 %>
              <td colspan="2" rowspan="<%= 1 + header.length %>"
                  style="width:<%= 3 * 100/total_width %>%; border: none;"></td>
              <td class="quantityhead" rowspan="<%= header.length %>"
                  style="width:<%= 100/total_width %>%;"><%= l(:field_amount) %></td>
            <% end %>

            <% row.each do |q, span| %>
              <td class="<%= span ? 'quantityhead' : 'quantityheadempty' %>"
                  <%= "colspan=#{span}" if span && span > 0 %>
                  <%= "rowspan=#{-span}" if span && span < 0 %>
                  style="width: <%= (span && span > 0 ? span : 1) * 100/total_width %>%;"
                  title="<%= q.description %>">
                <%= q.name if span %>
              </td>
            <% end %>

            <% if i == 0 %>
              <td rowspan="<%= 1 + header.length %>"
                  style="width:<%= 100/total_width %>%; border: none;"></td>
            <% end %>
          </tr>
        <% end %>

        <tr class="header">
          <td class="quantityhead"><%= "[#{@amount_mfu_unit.shortname}]" %></td>
          <% @quantities.each do |q| %>
            <td class="quantityhead">
              <%= "[#{@ingredient_summary[:mfu_unit][q].try(&:shortname) || '-'}]" %>
            </td>
          <% end %>
        </tr>

        <%= render partial: 'meals/show_date', locals: {date: date} %>

        <% meals.each_with_index do |m, index| %>
          <%= render partial: 'meals/show', locals: {m: m, index: index} %>
          <% m.ingredients.each do |i| %>
            <%= render partial: 'meals/show_ingredient', locals: {i: i} %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
