<% if @meals_by_date.any? %>
  <%= render partial: 'meals/options' %>

  <table id="meals" class="odd-even list">
    <tbody>
      <% @meals_by_date.reverse_each do |date, meals| %>
        <tr id="date-<%= date.strftime('%Y%m%d') %>" class="date">
          <td class="date" colspan="4">
            <h3><%= date == Date.current ? 'Today' : date.strftime('%F') %></h3>
          </td>
        </tr>

        <% meals.each_with_index do |m, index| %>
          <%= render partial: 'meals/show', locals: {m: m, index: index} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
