<% if @meals_by_date.any? %>
  <%= render partial: 'meals/options' %>

  <% formulas = @quantities.map { |q| q.formula } %>
  <% formulas.unshift(@filter_q.formula) if @filter_q %>
  <%= error_messages_for *formulas %>

  <table id="meals" class="list odd-even">
    <tbody>
      <% total_width = 4 + @quantities.length %>
      <% @meals_by_date.reverse_each do |date, meals| %>
        <tr id="date-<%= date.strftime('%Y%m%d') %>" class="date">
          <td class="date" colspan="2" style="width:<%= 3 * 100/total_width %>%" rowspan="2">
            <h3><%= date == Date.current ? 'Today' : date.strftime('%F') %></h3>
          </td>
          <td class="quantityhead" style="width:<%= 100/total_width %>%;">
            <%= l(:field_amount) %>
          </td>
          <% @quantities.each do |q| %>
            <td class="quantityhead closable" style="width: <%= 100/total_width %>%;"
                title="<%= q.description %>">
              <%= q.name %>
            </td>
          <% end %>
          <td style="width:<%= 100/total_width %>%" rowspan="2"></td>
        </tr>
        <tr>
          <td class="quantityhead" style="width:<%= 100/total_width %>%;">
            <%= "[#{@amount_mfu_unit.shortname}]" %>
          </td>
          <% @quantities.each do |q| %>
            <td class="quantityhead" style="width: <%= 100/total_width %>%;">
              <% mfu_unit = @nutrients[q][:mfu_unit] %>
              <%= "[#{mfu_unit ? mfu_unit.shortname : '-'}]" %>
            </td>
          <% end %>
        </tr>

        <% meals.each_with_index do |m, index| %>
          <%= render partial: 'meals/show', locals: {m: m, index: index} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
