<h2><%= t ".heading_new_meal" %></h2>

<%= labelled_form_for @meal,
  url: project_meals_path(@project),
  remote: true,
  html: {id: 'new-meal-form', name: 'new-meal-form'} do |f| %>

  <%= render partial: 'meals/form', locals: {f: f} %>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_create) %>
      <%= link_to l(:button_cancel), "#",
        onclick: '$("#new-meal").empty(); return false;' %>
    </p>
  </div>
<% end %>
<hr>
