<tr id="meal-<%= m.id %>" class="primary meal project idnt idnt-1 odd">
  <td class="name unwrappable" style="width: 5%; border-right: none;">
    <b><%= "#{t '.label_meal'} ##{index+1}" %></b>
    <% if m.eaten_at %>
      <%= " at #{m.eaten_at.strftime('%R')}" %>
      <%= link_to '', toggle_eaten_meal_path(m),
        {remote: true, method: :post, class: "icon icon-close"} %>
    <% else %>
      <%= link_to l(:button_eat), toggle_eaten_meal_path(m),
        {remote: true, method: :post, class: "icon icon-time"} %>
    <% end %>
  </td>
  <td id="notes-<%= m.id %>" class="notes" style="text-align: left; border-left: none;">
    <%= display_notes(m) %>
  </td>
  <td class="action" style="width: 5%;"><%= meal_links(m) %></td>
</tr>

<% m.ingredients.each do |i| %>
  <tr id="ingredient-<%= i.id %>" class="ingredient project idnt idnt-2 buttonable">
    <td class="name unwrappable" style="width: 5%;">
      <%= i.food.name %>
    </td>
    <td class="amount unwrappable" style="text-align: left;" colspan="2">
      <%= adjust_ingredient_links(i) { raw "&emsp;<span>#{i.amount}</span>&emsp;" } %>
    </td>
  </tr>
<% end %>
</tr>
