<tr id="meal-<%= m.id %>" class="primary meal project idnt idnt-1">
  <td class="name" colspan="2">
    <b><%= "#{t '.label_meal'} ##{index+1}" %></b>
    <% if m.eaten_at %>
      <%= " at #{m.eaten_at.strftime('%R')}" %>
      <%= link_to '', toggle_eaten_meal_path(m),
        {remote: true, method: :post, class: "icon icon-close",
         style: "margin-left: -0.2em;"} %>
    <% else %>
      <%= link_to l(:button_eat), toggle_eaten_meal_path(m),
        {remote: true, method: :post, class: "icon icon-ok"} %>
    <% end %>
    <div id="notes-<%= m.id %>" style="display: inline-flex;">&emsp;
      <%= display_notes(m) %>
    </div>
    <div style="float: right; position: relative;"><%= meal_links(m) %></div>
  </td>
</tr>

<% m.ingredients.each do |i| %>
  <tr id="ingredient-<%= i.id %>" class="ingredient project idnt idnt-2 buttonable">
    <td class="name unwrappable" style="width: 5%;">
      <%= i.food.name %>
    </td>
    <td style="text-align: left;" class="unwrappable">
      <%= adjust_ingredient_links(i) { raw "&emsp;#{i.amount}&emsp;" } %>
    </td>
  </tr>
<% end %>
</tr>
