<div id="import-foods" style="display:none;">
  <h2><%= t ".heading_import_foods" %></h2>

  <%= form_tag import_project_foods_path(@project),
    id: 'import-form', name: 'import-form', multipart: true do %>

    <div class="box tabular">
      <p>
      <label><%= t ".label_import_select_csv_file" %></label>
      <%= file_field_tag 'file' %>
      </p>
      <p>
      <%= t ".import_hints" %>
      </p>
    </div>
    <%= submit_tag l(:button_import) %>
    <%= link_to l(:button_cancel), "#", onclick: '$("#import-foods").hide(); return false;' %>
  <% end %>
  <hr>
</div>
