<div class="contextual">
  <%= link_to t(".heading_food_list"), project_foods_path(@project),
    class: 'icon icon-list' %>
  <%= render partial: 'foods/contextual', locals: {view: :nutrients} %>
</div>

<%= render partial: 'foods/import' %>

<div id="new-food">
</div>

<%= title t(:body_trackers_title), t(".heading") %>
<div id='nutrients'>
  <%= render partial: 'foods/nutrients' %>
</div>
