<fieldset id="filters" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div>
    <%= error_messages_for @filter_q %>

    <%= form_tag url, id: 'filters-form', name: 'filters-form', method: :get,
      remote: true do %>

    <table class="filter">
      <tr>
        <td>
          <%= text_field_tag 'name', session[:m_filters][:name], placeholder: 'name' %>
        </td>
        <td style="width:100%;">
          <%= text_field_tag 'formula[code]', session[:m_filters][:formula][:code],
            placeholder: 'conditional expression including readouts', size: 40,
            style: 'box-sizing:border-box; width:100%;' %>
        </td>
        <td>
          <%= link_to l(:button_apply), '#', class: "icon icon-checked",
            onclick: '$("#filters-form").submit(); return false;' %>
        </td>
        <td>
          <%= link_to l(:button_clear), '#', class: "icon icon-reload",
            onclick: '$("#filters-form input, #filters-form select").val("");
                      $("#filters-form").submit(); return false;' %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="padding-top:4px;">
          <%= label_tag do %>
            <%= hidden_field_tag 'formula[zero_nil]', 0 %>
            <%= check_box_tag 'formula[zero_nil]', 1,
              @filter_q ? @filter_q.formula.zero_nil : Formula.new.zero_nil %>
            <%= t 'quantities.form.zero_nil' %>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <%= submit_tag '', style: 'display:none;' %>
    <% end %>
  </div>
</fieldset>
