<% if @measurements.any? { |m| m.persisted? } %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_taken_at_date) %></th>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_source) %></th>
        <th style="width:10%"><%= l(:field_action) %></th>
      </tr>
    </thead>
    <tbody>
      <% @measurements.each do |m| %>
        <% next if m.new_record? %>
        <tr id="measurement-<%= m.id %>" class="measurement <%= 'hidden' if m.hidden %>">
          <td class="date"><%= m.taken_at.strftime("%F %R") %></td>
          <td class="name">
            <%= m.name %>
            <small><%= " (#{m.readouts.size} readouts)" %></small>
          </td>
          <td class="source"><%= m.source.name if m.source.present? %></td>
          <td class="action">
            <%= link_to l(:button_retake), retake_measurement_path(m), {
              remote: true,
              class: "icon icon-reload"
            } %>
            <%= link_to l(:button_edit), edit_measurement_path(m), {
              remote: true,
              class: "icon icon-edit"
            } %>
            <%= delete_link measurement_path(m), {remote: true, data: {}} %>
          </td>
        </tr>
        <% next unless (m == @measurement) &&
          ((action_name == "edit") ||
           (action_name == "update" && @measurement.errors.present?)) %>
        <tr>
          <td class="form" colspan="5">
            <div id="edit-measurement">
              <%= labelled_form_for @measurement,
                url: measurement_path(@measurement),
                method: :patch, remote: true,
                html: {id: 'measurement-edit-form', name: 'measurement-edit-form'} do |f| %>

                <%= render partial: 'measurements/form', locals: {f: f} %>

                <div class="tabular">
                  <p>
                    <%= submit_tag l(:button_save) %>
                    <%= link_to l(:button_cancel), "#",
                      onclick: '$(this).closest("tr").remove(); return false;' %>
                  </p>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
