<% content_for :sidebar do %>
  <%= render partial: 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <%= render partial: 'measurements/contextual' %>
</div>

<div id="new-measurement">
</div>

<h2>
  <%= link_to t("measurements.index.heading"), project_measurements_path(@project) %>
  >
  <%= @measurements.first.name %>
</h2>
<div id='measurements'>
  <%= render partial: 'measurements/index' %>
</div>
