<h3><%= t ".heading_body_trackers" %></h3>
<ul>
  <li><%= link_to t(".link_summary"), project_body_trackers_path(@project) %></li>
</ul>

<h3><%= t ".heading_measurements" %></h3>
<ul>
  <li><%= link_to t(".link_measurements"), project_measurements_path(@project) %></li>
</ul>

<h3><%= t ".heading_diet" %></h3>
<ul>
  <li>
    <%= link_to t(".link_ingredients"), project_ingredients_path(@project) %>
    /
    <%= link_to t(".link_nutrients"), nutrients_project_ingredients_path(@project) %>
  </li>
</ul>

<h3><%= t ".heading_common" %></h3>
<ul>
  <li><%= link_to t(".link_sources"), project_sources_path(@project) %></li>
  <li><%= link_to t(".link_quantities"), project_quantities_path(@project) %></li>
  <li><%= link_to t(".link_units"), project_units_path(@project) %></li>
  <% if User.current.allowed_to?(:manage_common, @project) %>
    <li>&nbsp</li>
    <li><p><%= link_to t(".link_defaults"), defaults_project_body_trackers_path(@project),
      method: :post, data: {confirm: t(".confirm_defaults")} %></li>
  <% end %>
</ul>
