<%= error_messages_for @quantity %>

<div class="box tabular">
  <p><%= f.select :domain, domain_options, {required: true},
    {autocomplete: 'off',
     data: {remote: true,
            url: parents_project_quantities_path(@project),
            params: "form=#{f.options[:html][:id]}"}} %></p>
  <p><%= f.select :parent_id, parent_options(@quantity.domain),
    {required: true, label: :field_parent_quantity, include_blank: t('.null_parent')} %></p>
  <p><%= f.text_field :name, size: 25, required: true %></p>
  <p><%= f.text_field :description, style: "width: 100%;" %></p>
  <%= f.fields_for :formula do |ff| %>
    <div>
      <div style="float: right;">
        <p style="padding-left: 0;"><%= ff.select :unit_id, unit_options, {label: ''} %></p>
      </div>
      <div style="overflow: hidden;width: auto;">
        <p><%= ff.text_field :code, placeholder: t('.formula_placeholder'),
          style: "width: 100%" %></p>
      </div>
    </div>
    <p><%= ff.check_box :zero_nil, {label: ''} %><%= t('.zero_nil') %></p>
  <% end %>
</div>
