<%= error_messages_for @quantity %>

<div class="box tabular">
  <p><%= f.select :domain, domain_options, required: true %></p>
  <% Quantity.domains.each_key do |d| %>
    <div id="parent_select_<%= d %>" style="display: none">
      <p><%= f.select :parent_id, parent_options(d),
        {required: true, label: :field_parent_quantity} %></p>
    </div>
  <% end %>
  <p><%= f.text_field :name, size: 25, required: true %></p>
  <p><%= f.text_field :description, style: "width: 100%;" %></p>
  <p><%= f.text_field :formula, placeholder: t('.formula_placeholder'),
      style: "width: 100%;" %></p>
  <p><%= f.check_box :primary %></p>
</div>

<%= javascript_tag do %>
  function domainChange() {
    $('[id^=parent_select_]').prop('disabled', true).hide();
    $('[id^=parent_select_] select').attr('name', 'placeholder');
    $('[id=parent_select_'+$('#quantity_domain option:selected').val()+']')
      .prop('disabled', false).show();
    $('[id=parent_select_'+$('#quantity_domain option:selected').val()+'] select')
      .attr('name', 'quantity[parent_id]');
  }
  $('#quantity-form').on('change', '#quantity_domain', domainChange);

  $(document).ready(function() {
    domainChange();
  });
<% end %>
