<%= render :partial => 'quantities/filters',
  :locals => {:url => filter_project_quantities_path(@project)} %>

<% if @quantities.any? { |q| q.persisted? } %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_order) %></th>
        <th><%= l(:field_domain) %></th>
        <th><%= l(:field_description) %></th>
        <th><%= l(:field_action) %></th>
      </tr>
    </thead>
    <tbody>
      <% Quantity.each_with_level(@quantities) do |q, level| %>
        <%
          next if q.new_record?
          quantity_class = "quantity"
          quantity_class += " project idnt idnt-#{level+1}"
          quantity_class += " primary" if q.primary
        %>
        <tr id="quantity-<%= q.id %>" class="<%= quantity_class %>">
          <td class="name">
            <%= link_to '', toggle_quantity_path(q), {
                  remote: true,
                  method: :post,
                  class: "icon #{q.primary ? "icon-fav" : "icon-fav-off"}"
                }
            %>
            <%= q.name %>
          </td>
          <td class="order">
            <% [:up, :down, :left, :right].each do |direction| %>
            <%=
              if q.movable?(direction)
                link_to '', move_quantity_path(q, direction), {
                  remote: true,
                  method: :post,
                  class: "icon icon-move-#{direction}"
                }
              else
                link_to '', '', {class: "icon"}
              end
            %>
            <% end %>
          </td>
          <td class="domain"><%= q.domain %></td>
          <td class="description"><%= q.description %></td>
          <td class="action">
            <%=
              link_to l(:button_edit), edit_quantity_path(q), {
                remote: true,
                class: "icon icon-edit"
              }
            %>
            <%= delete_link quantity_path(q), {remote: true, data: {}} %>
          </td>
        </tr>
        <% next unless (action_name == "edit") && (q == @quantity) %>
        <tr>
          <td class="form" colspan="6">
            <div id="edit-quantity">
              <%= labelled_form_for @quantity, url: quantity_path(@quantity), method: :patch,
                remote: true, html: {id: 'quantity-edit-form'} do |f| %>

                <%= render :partial => 'quantities/form', :locals => { :f => f } %>
                <%= submit_tag l(:button_save) %>
                <%=
                  link_to l(:button_cancel), "#", :onclick => '$("#edit-quantity").hide()'
                %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
