<% content_for :sidebar do %>
  <%= render :partial => 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <% if User.current.allowed_to?(:manage_common, @project) %>
    <%= link_to t(".link_new_quantity"), '#', :class => 'icon icon-add',
      :onclick => '$("#add-quantity").toggle(); $("#quantity_name").focus(); return false;' %>
  <% end %>
</div>

<div id="add-quantity" <%= 'style=display:none;' if @quantity.errors.empty? %>>
  <h2><%= t ".heading_new_quantity" %></h2>

  <%= labelled_form_for @quantity,
                        :url => project_quantities_path(@project),
                        :html => {:id => 'quantity-add-form'} do |f| %>
    <%= render :partial => 'quantities/form', :locals => { :f => f } %>
    <%= submit_tag l(:button_create) %>
    <%= link_to l(:button_cancel), "#", onclick: '$("#add-quantity").hide(); return false;' %>
  <% end %>
  <hr>
</div>

<h2><%= t ".heading" %></h2>
<div id='quantities'>
  <%= render :partial => 'quantities/index' %>
</div>
