<% content_for :sidebar do %>
  <%= render :partial => 'body_trackers/sidebar' %>
<% end %>

<div class="contextual">
  <% if @project && User.current.allowed_to?(:manage_units, @project) %>
    <%= link_to t(".heading_new_unit"), '#', :class => 'icon icon-add',
      :onclick => 'showAndScrollTo("add-unit", "unit_name"); return false;' %>
  <% end %>
</div>

<div id="add-unit" style="display:none;">
  <h2><%= t ".heading_new_unit" %></h2>

  <%= labelled_form_for @unit,
                        :url => project_units_path(@project),
                        :html => { :id => 'unit-form', :multipart => true } do |f| %>
    <%= render :partial => 'units/form', :locals => { :f => f } %>
    <%= submit_tag l(:button_create) %>
    <%= link_to l(:button_cancel), "#", :onclick => '$("#add-unit").hide()' %>
  <% end %>
  <hr>
</div>

<h2><%= t ".heading" %></h2>
